---
layout: default
title: ZZZ
---

{% for post in paginator.posts %}
<div class = "wrapper">
	<section>
	{% if post.title != "扯" %}
	<h3>{{ post.title }}</h3>
	{% endif %}
	{{ post.content | split:'<!--more-->' |first }}
	</section>
	<div class = "date">
		<a href="{{ post.url }}">{{ post.date | date_to_string }}</a>
	</div>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="/page{{ paginator.previous_page }}" class="previous">新</a>
	{% else %}
	<span class="previous">新</span>
	{% endif %}
	<span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
	<a href="/page{{ paginator.next_page }}" class="next">旧</a>
	{% else %}
	<span class="next">旧</span>
	{% endif %}
</div>

