<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>我是这样想的 | {{ page.title }}</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/pygment_trac.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	</head>
	<body>
		<header>
			<h1><a href="/">我是这样想的</a></h1>
		</header>
		<article>
			<header>
				<h3>{{ page.title }}</h3>
			</header>
			<section class="markdown-body">
				{{ page.content }}
			</section>
			<footer>
				{{ page.date | date_to_string }}
			</footer>
		</article>
		<footer>
			<p>By xzhaoyang</p>
		</footer>
	</body>
</html>
